<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mysite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>kr.ac.smu.mysite.servlet.MainServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>kr.ac.smu.mysite.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GuestbookServlet</servlet-name>
    <servlet-class>kr.ac.smu.mysite.servlet.GuestbookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BoardServlet</servlet-name>
    <servlet-class>kr.ac.smu.mysite.servlet.BoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GuestbookServlet</servlet-name>
    <url-pattern>/guestbook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BoardServlet</servlet-name>
    <url-pattern>/board</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMain</display-name>
    <servlet-name>ServletMain</servlet-name>
    <servlet-class>com.sds.icto.mysite.servlet.ServletMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMain</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberServlet</display-name>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.sds.icto.mysite.servlet.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/member</url-pattern>
  </servlet-mapping>
</web-app>